<div class="row">
    <p>
        <small>Curl effect options</small> <br>
        <small style="color:red;">This is iOS only effect!</small>
    </p>
    <ul>
        <li>direction: up | down, default (up)</li>
        <li>duration: default 400(milliseconds)</li>
        <li>iosdelay: (milliseconds) to wait the iOS webview to update before animation launched.</li>
    </ul>
    <button class="btn"
        native-transition
        effect="curl"
        href="#home"
        direction="down"
        duration="300"
        success="resetTitle()"
        >Back</button>
</div>